<ng-template #loading>
    <h4>{{ 'COMMON.LOADING' | translate }}</h4>
</ng-template>

<ng-container *ngIf="form != null; else loading">
    <form [formGroup]="form">
        <nb-card>
            <nb-card-header>{{ 'MQTT.TITLE' | translate }}</nb-card-header>
            <nb-card-body>
                <div class="form-row">
                    <nb-checkbox formControlName="mqttEnable">{{ 'MQTT.ENABLED' | translate }}</nb-checkbox>
                </div>
                <div class="form-row">
                    <label for="mqttURI" class="form-label">{{ 'MQTT.URI' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <input nbInput id="mqttURI" type="text" formControlName="mqttURI"
                            placeholder="mqtt://192.168.0.10:1883" /><br />
                        <small>mqtt://host:porta (TLS desabilitado neste build)</small>
                    </div>
                </div>
                <div class="form-row">
                    <label for="mqttUser" class="form-label">{{ 'MQTT.USERNAME' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <input nbInput id="mqttUser" formControlName="mqttUser" type="text" />
                    </div>
                </div>
                <div class="form-row">
                    <label for="mqttPass" class="form-label">{{ 'MQTT.PASSWORD' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <input nbInput id="mqttPass" formControlName="mqttPass" type="password" />
                    </div>
                </div>
                <div class="form-row">
                    <label for="mqttTopicPrefix" class="form-label">{{ 'MQTT.TOPIC_PREFIX' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <input nbInput id="mqttTopicPrefix" formControlName="mqttTopicPrefix" type="text" />
                        <small>{{ 'MQTT.TOPIC_PREFIX_HINT' | translate }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <label for="mqttInterval" class="form-label">{{ 'MQTT.INTERVAL' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <input nbInput id="mqttInterval" formControlName="mqttInterval" type="number" min="1" max="3600" />
                    </div>
                </div>
                <div class="form-row">
                    <nb-checkbox formControlName="mqttDiscovery">{{ 'MQTT.DISCOVERY' | translate }}</nb-checkbox>
                    <div><small>{{ 'MQTT.DISCOVERY_HINT' | translate }}</small></div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <div>
                        <button nbButton size="small" [disabled]="form.invalid" (click)="updateSystem()" [status]="'danger'">
                            {{ 'COMMON.SAVE' | translate }}
                        </button>&nbsp;
                    </div>
                    <div>
                        <button nbButton size="small" (click)="restart()"
                                [nbTooltip]="'MQTT.RESTART_TOOLTIP' | translate" status="danger">
                            {{ 'SYSTEM.RESTART' | translate }}
                        </button>
                    </div>
                </div>
                <div>
                    <b>{{ 'MQTT.RESTART_REQUIRED' | translate }}</b>
                </div>
            </nb-card-body>
        </nb-card>
    </form>
</ng-container>
